@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background: url(../img/taikongren.gif) no-repeat left top -185px;
	background-size: 1920px;
	position: relative;
}

.blue {
	color: #9bb7ff;
}

#into {
	position: absolute;
	top: 95px;
	left: 260px;
	font-size: 35px;
	font-family: "Verdana";
	color: #e5e5ee;
	/* color: #9bb7ff; */
}

#tittle {
	position: absolute;
	top: 150px;
	left: 460px;
	height: 100px;
	width: 780px;
	/* background-color: yellow; */
	font-size: 45px;
	font-family: "Comic Sans MS";
}

#caidan {
	position: absolute;
	top: 90px;
	right: 270px;
}

#caidan img {
	width: 54px;
}

.font {
	color: #9bb7ff;
	/* color: #49407b; */
	font-family: "Comic Sans MS";
	font-size: 28px;
	font-weight: bold;
}

.small {
	color: black;
	font-family: "Comic Sans MS";
	font-size: 17px;
}

#nav .navlist {
	position: absolute;
	display: none;
	z-index: 998;
	line-height: 95px;
	top: 30px;
	right: 350px;
	background: url(../img/hello.gif);
	padding-left: 25px;
	width: 310px;
}

#close {
	position: absolute;
	top: 30px;
	right: 30px;
}

#close img {
	width: 37px;
	visibility: hidden;
}



#wapper {
	position: relative;
	top: 900px;
	left: 0px;
	z-index: 999;
	/* background-color: yellow; */
	background-color: #e6e2ef;
	height: 955px;
	width: 1900px;
}

#wapper .about {
	position: absolute;
	top: 0px;
	left: 200px;
	z-index: 1000;
	/* background-color: blue; */
	background-color: #e6e2ef;
	height: 955px;
	width: 1500px;
}

#wapper .about .top {
	height: 450px;
	/* background-color: brown; */
	background-color: #e6e2ef;
	padding-top: 28px;
	padding-left: 28px;
}

#wapper .about .top img {
	float: left;
	height: 420px;
	margin-right: 14px;
}

#wapper .about .top .left_top {
	float: left;
	height: 320px;
	width: 1010px;
	/* background-color: magenta; */
	background-color: #e6e2ef;
}

#wapper .about .top .left_top .small {
	display: block;
	padding-bottom: 17px;
	border-bottom: 2px solid gray;
	width: 750px;
}

#wapper .about .top .left_top span {
	margin-left: 12px;
	/* margin-bottom: 3px; */
}

#wapper .about .top .left_top .introduce {
	margin-top: 16px;
	font-size: 20px;
	color: #000000;
	font-weight: 400;
	line-height: 40px;
}

#wapper .about .top .left_top .more {
	margin-top: 25px;
	display: block;
	width: 140px;
	height: 40px;
	background-color: #9bb7ff;
	text-align: center;
	line-height: 40px;
	font-family: "Comic Sans MS";
	color: white;
}

#wapper .about .top .left_bottom {
	float: left;
	height: 100px;
	width: 1010px;
	/* background-color: aqua; */
	background-color: #e6e2ef;
}

#wapper .about .top .left_bottom ul {
	margin-left: 12px;
}

#wapper .about .top .left_bottom ul li {
	float: left;
}

#wapper .about .top .left_bottom ul li img {
	margin-top: 30px;
	margin-left: 5px;
	height: 37px;
}
#wapper .about .top .left_bottom ul li img:hover{
	transform: scale(0.94);
	transition-duration: 0.2s;
}

#wapper .about .bottom {
	height: 450px;
	/* background-color: purple; */
	background-color: #e6e2ef;
}

#wapper .about .bottom .left_content {
	margin-left: 27px;
	float: left;
	width: 425px;
	height: 446px;
	background-color: #9BB7FF;
}

#wapper .about .bottom .left_content p {
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 17px;
	font-family: "Comic Sans MS";
	font-size: 26px;
	font-weight: 600;
}

#wapper .about .bottom .left_content span {
	margin-left: 18px;
	line-height: 50px;
	font-family: "Comic Sans MS";
	font-size: 18px;
	font-weight: 500;
}

#wapper .about .bottom .left_content .Hire {
	display: block;
	width: 260px;
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;
	height: 50px;
	line-height: 50px;
	font-family: "Comic Sans MS";
	background-color: #30416f;
	color: #e6e2ef;
}

#wapper .about .bottom .left_content .im {
	/* line-height: 50px; */
	font-family: "Comic Sans MS";
	font-size: 20px;
	font-weight: 400;
}

#wapper .about .bottom .right_content {
	margin-left: 16px;
	width: 865px;
	height: 450px;
	float: left;
	padding-left: 150px;
	/* background-color: yellowgreen; */
	background-color: #e6e2ef;
}

#wapper .about .bottom .right_content img {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 5px;
	margin-left: 30px;
}

#wapper .about .bottom .right_content div {
	margin: 8px;
}

#wapper .about .bottom .right_content .dispaly01 {
	float: left;
	width: 300px;
	height: 210px;
	background-color: #9bb7ff;
}

#wapper .about .bottom .right_content .dispaly02 {
	margin-right: 200px;
	float: left;
	width: 300px;
	height: 210px;
	background-color: #30416f;
}

#wapper .about .bottom .right_content .dispaly03 {
	float: left;
	width: 300px;
	height: 210px;
	background-color: #30416f;
}

#wapper .about .bottom .right_content .dispaly04 {
	float: left;
	width: 300px;
	height: 210px;
	background-color: #9bb7ff;
}

#wapper .about .bottom .right_content span {
	margin-left: 18px;
	font-family: "Comic Sans MS";
	font-size: 20px;
	font-weight: 400;
	color: #fbfbfc;
}

#wapper .about .bottom .right_content .disc {
	margin-left: 18px;
	margin-top: 6px;
	font-family: "Comic Sans MS";
	font-size: 19px;
	font-weight: 400;
}

#ability {
	background: url(../img/qiu.gif) no-repeat;
	background-size: 1400px;
	height: 1900px;
	width: 1500px;
	margin: 0 auto;
	position: relative;
}

#ability img {
	float: left;
}

#ability .ti {
	padding-top: 15px;
	margin-top: 900px;
	font-family: "Comic Sans MS";
	font-size: 28px;
	font-weight: bold;
	color: #fcfffe;
	margin-left: 655px;
}

#ability div {
	margin-left: 20px;
	width: 65px;
	/* height: 620px; */
	background: #9BB7FF;
	float: right;
}

.javafx {
	margin-top: 170px;
	margin-right: 210px;
	height: 450px;
}

.java {
	margin-top: 100px;
	height: 520px;
}

.js {
	margin-top: 220px;
	height: 400px;
}

.css {
	margin-top: 160px;
	height: 460px;
}

.html {
	margin-top: 190px;
	height: 430px;
}

#ability .data {
	position: absolute;
	top: 682px;
	right: 214px;
}

#ability .data li {
	color: #9BB7FF;
	float: left;
	/* margin-left: 40px; */
	width: 65px;
	text-align: center;
	/* background-color: green; */
	margin-left: 20px;
	font-family: "Comic Sans MS";
	font-size: 20px;
	font-weight: 300;
	color: #fcfffe;
}

#qualification {
	height: 1160px;
	width: 1400px;
	/* background-color: #FFFF00;
	background-color: #000000; */
	background-color: #000009;
	position: absolute;
	top: 2700px;
	left: 200px;
}

#qualification .titl {
	text-align: center;
	padding-top: 15px;
	font-family: "Comic Sans MS";
	font-size: 28px;
	font-weight: bold;
	color: #fcfffe;

}

#qualification .zp1 {
	margin-top: 12px;
	margin-left: 138px;
	cursor: pointer;
}

#qualification .zp2 {
	height: 371.5px;
	margin-left: 138px;
	cursor: pointer;
}

#contact {
	height: 750px;
	width: 1400px;
	/* background-color: #FFFF00; */
	background-color: #9bb7ff;

	position: absolute;
	top: 3900px;
	left: 200px;
}

#contact .titx {
	padding-top: 15px;
	font-family: "Comic Sans MS";
	font-size: 35px;
	font-weight: bold;
	margin-left: 586px;
	color: #fcfffe;
}

#contact .in {
	float: left;
	margin-left: 60px;
	margin-top: 50px;
	width: 600px;
	height: 80px;
	padding-left: 12px;
	font-family: "Comic Sans MS";
	font-size: 17px;
	font-weight: 400;
	border: 1px solid gray;
}

#contact textarea {
	width: 1267px;
	height: 250px;
	margin-left: 60px;
	margin-top: 15px;
	padding: 11px;
	font-family: "Comic Sans MS";
	font-size: 17px;
	font-weight: 400;
	border: 1px solid gray;
}

#contact .bu {
	margin-left: 60px;
	width: 1290px;
	height: 60px;
	background-color: black;
	font-family: "Comic Sans MS";
	font-size: 17px;
	color: #fcfffe;
	margin-top: 20px;
	cursor: pointer;
}

#footer {
	margin-top: 12px;
	position: absolute;
	top: 4650px;
	padding-left: 740px;
	width: 1900px;
	height: 80px;
	background-color: #282828;
	background-color: #221e35;
	color: #d4ffff;
	line-height: 80px;
	font-size: 18px;
}
.top_im{
	position: fixed;
	z-index: 20000;
	bottom: 225px;
	right: 100px;
	width:65px;
}
